h1 {
  color: #f5f5f5;
}

h4:hover { 
  color: orange;
}

.selected {
  color: #ffe9c0;
}

ul {
  display: none;
}

.selected ul {
  display: block;
  list-style-type:none;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #f2f0f0;
  background-image: url(../../resources/images/fitness.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dimmed {
  position: relative;
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}

input, select, textarea{
    color: #a0a0a0;
}